<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net452" />
  <package id="Flurl" version="2.7.1" targetFramework="net452" />
  <package id="Flurl.Http" version="2.3.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.3.3" targetFramework="net452" />
  <package id="Ninject.Extensions.ChildKernel" version="3.2.1-unstable-000" targetFramework="net452" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net452" />
  <package id="Ninject.MVC5" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net452" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.0" targetFramework="net452" />
</packages>